body {
  overflow-x: hidden;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.57143;
  background: #fff;
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body[data-dark='1'] {
  background: rgb(20, 20, 20);
  color: rgba(255, 255, 255, 0.85);
}
