:root {
  --light-bg-color: #fff;
  --light-second-bg-color: #f1f1f1;
  --dark-bg-color: rgb(20, 20, 20);
  --dark-second-bg-color: #1f1f1f;
  --light-font-color: rgba(0, 0, 0, 0.88);
  --dark-font-color: rgba(255, 255, 255, 0.85);
  --primary-color: #722ed1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 8px var(--primary-color);
  border-radius: 100px;
}


body {
  overflow: hidden;
  color: var(--light-font-color);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.57143;
  background: var(--light-bg-color);
  transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body[data-dark='1'] {
  background: var(--dark-bg-color);
  color: var(--dark-font-color);
}

.full-screen {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-content {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
}

.template-list {
  width: 200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--light-second-bg-color);
}

body[data-dark='1'] .template-list {
  background-color: var(--dark-second-bg-color);
}

.drag-view {
  flex: 1;
  overflow: hidden;
}

/* 通用样式 */
.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}