.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--second-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-font-color);
}
