.container {
  width: 312px;
  height: 36px;
  background-color: var(--second-bg-color);
  color: var(--font-color);
  position: fixed;
  border-radius: 6px;
  display: flex;
  align-items: center;
  z-index: 9999;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 6px;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  mix-blend-mode: difference;
}
