.container {
  width: 100%;
  height: 100%;
}

.focus {
  position: relative;
}

.focus::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 10px 2px var(--primary-color);
  z-index: 1;
}