.outer {
  width: 400px;
  height: 100%;
  box-shadow: -10px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.outerTransition {
  transition: all 0.6s ease-out;
}

.wrapper {
  top: 64px;
  right: 0;
  bottom: 0;
  width: 400px;
  position: fixed;
  background-color: var(--second-bg-color);
  transition: transform 0.3s linear;
  transform: translateX(0) translateZ(0);
  z-index: 999;
}

.wrapper.hide {
  transform: translateX(100%) translateZ(0);
}

.former {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tabs {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}

.tabItem {
  padding: 8px 16px 4px 16px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.tabItem.active,
.tabItem:hover {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

.tabPanel {
  margin-top: 12px;
  padding: 16px;
}

.switch {
  position: absolute;
  width: 18px;
  height: 92px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  left: -18px;
  top: 50%;
  margin-top: -46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-bg-color);
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.switch:hover {
  color: var(--primary-color);
  opacity: 1;
}
