.container {
  position: absolute;
  background-color: #ff6700;
}

.container.selected::before {
  position: absolute;
  background-color: #fa541c;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: attr(data-width);
  color: #fff;
  border-radius: 6px;
  z-index: 1;
  padding: 0 4px;
}

.container.selected::after {
  position: absolute;
  background-color: #fa541c;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: attr(data-height);
  color: #fff;
  border-radius: 6px;
  z-index: 1;
  padding: 0 4px;
}

.dragHandle {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f3f3f;
  cursor: grab;
  mix-blend-mode: difference;
  border-radius: 6px;
}

.resizeHandle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f3f3f;
  mix-blend-mode: difference;
  cursor: se-resize;
}

.dragHandle:hover,
.resizeHandle:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
