.container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  box-sizing: border-box;
  overflow: auto;
}

.editor {
  position: relative;
  background-color: #151b36;
}

.gridBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--grid-gap) - 1px),
      #ddd calc(var(--grid-gap) - 1px),
      #ddd var(--grid-gap)
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(var(--grid-gap) - 1px),
      #ddd calc(var(--grid-gap) - 1px),
      #ddd var(--grid-gap)
    );
  background-size: var(--grid-gap) var(--grid-gap);
  z-index: 0;
  pointer-events: none;
}
