.container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  box-sizing: border-box;
  overflow: auto;
}

.editor {
  position: relative;
  background-color: rgb(21, 27, 54);
  /* background-color: #eee; */
}

.gridBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent calc(50px - 1px),
      #ddd calc(50px - 1px),
      #ddd 50px
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(50px - 1px),
      #ddd calc(50px - 1px),
      #ddd 50px
    );
  background-size: 50px 50px;
  z-index: 0;
  pointer-events: none;
}
