.container {
  width: 312px;
  height: 36px;
  background-color: var(--light-second-bg-color);
  color: var(--light-font-color);
  position: fixed;
  border-radius: 6px;
  display: flex;
  align-items: center;
  z-index: 99;
}

body[data-dark='1'] .container {
  background-color: var(--dark-second-bg-color);
  color: var(--dark-font-color);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 6px;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  mix-blend-mode: difference;
}