.outer {
  width: 400px;
  height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}

.outerTransition {
  transition: all 0.6s ease-out;
}

.wrapper {
  top: 64px;
  right: 0;
  bottom: 0;
  width: 400px;
  position: fixed;
  background-color: var(--light-second-bg-color);
  transition: transform 0.3s linear;
  transform: translateX(0) translateZ(0);
  z-index: 999;
}

.wrapper.hide {
  transform: translateX(100%) translateZ(0);
}

body[data-dark='1'] .wrapper {
  background-color: var(--dark-second-bg-color);
}

.former {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tabs {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
}

.tabItem {
  padding: 8px 16px 4px 16px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.tabItem.active, .tabItem:hover {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}

.tabPanel {
  margin-top: 12px;
  padding: 16px;
}

.switch {
  position: absolute;
  width: 24px;
  height: 100px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  left: -24px;
  top: 50%;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-second-bg-color);
  cursor: pointer;
}

.switch:hover {
  color: var(--primary-color);
}

body[data-dark='1'] .switch {
  background-color: var(--dark-second-bg-color);
}
