.container {
  padding: 16px 8px;
  box-sizing: border-box;
  transition: background-color 0.3s;
  position: relative;
  width: 100%;
  height: 100%;
}

.container.active {
  background-color: var(--active-bg-color);
}

.alert {
  color: var(--second-font-color);
}

.item {
  margin-top: 18px;
  padding: 8px 0px;
  border-radius: 12px;
}

.item:hover .title {
  background-position: 100% 0;
}

.item:first-of-type {
  margin-top: 0px;
}

.title {
  margin: 0 8px 12px 8px;
  background-image: linear-gradient(
    90deg,
    var(--primary-color),
    color-mix(in srgb, var(--primary-color) 40%, transparent),
    var(--primary-color)
  );
  padding: 0px 6px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.85);
  transition: background-position 0.5s;
  background-size: 200%;
}

.dragger {
  width: 160px;
  height: 90px;
  background-color: color-mix(in srgb, var(--bg-color) 80%, transparent 100%);
  cursor: grab;
  position: relative;
  margin: 0 auto;
  transition: transform 0.2s;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.dragger.active {
  opacity: 0.5;
}

.dragger.dragging {
  cursor: grabbing;
}

.dragger.overlay {
  transform: scale(1.05, 1.05);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: unset;
  background-color: var(--bg-color);
}

.icon {
  color: var(--primary-color);
}
