.container {
  padding: 16px 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: background-color 0.3s;
}

.container.active {
  background-color: rgba(255, 255, 255, 0.9);
}

body[data-dark='1'] .container.active {
  background-color: rgba(0, 0, 0, 0.5);
}

.item {
  margin-top: 24px;
}

.item:first-of-type {
  margin-top: 0px;
}

.title {
  margin: 12px 8px;
  background-image: linear-gradient(90deg, var(--primary-color), transparent);
  padding: 0px 6px;
  color: var(--dark-font-color);
  border-radius: 4px;
}

.dragger {
  width: 160px;
  height: 90px;
  background-color: aquamarine;
  cursor: grab;
  position: relative;
  margin: 0 auto;
  transition: transform 0.2s;
  transform-origin: 50% 50%;
}

.dragger.active {
  opacity: 0.5;
}

.dragger.dragging {
  cursor: grabbing;
}

.dragger.overlay {
  transform: scale(1.05, 1.05);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
